{{ if .Site.Data.homepage.gallery.enable }}
{{ with .Site.Data.homepage.gallery }}
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="title">
                        <h3>{{ .title | markdownify }}</h3>
                    </div>
                    <div class="gallery-slider">
                        {{ range .sliderItem }}
                        {{ $image := resources.GetMatch .image }}
                        {{ if $image }}
                          {{ $webpImage320 := ($image.Fill "320x178 webp q90") }}
                          {{ $webpImage480 := ($image.Fill "480x268 webp q90")}}
                          {{ $webpImage800 := ($image.Fill "800x446 webp q90") }}
                          <a href="{{ $image.RelPermalink }}" class="venobox" data-gall="sliderGallery">
                            <img class="img-responsive" loading="lazy" srcset="
                            {{ $webpImage320.RelPermalink }} 320w,
                            {{ $webpImage480.RelPermalink }} 480w,
                            {{ $webpImage800.RelPermalink }} 800w"
                            sizes="(max-width: 320px) 280px,
                                   (max-width: 480px) 440px,
                                   800px"
                            src="{{ $image.RelPermalink }}" alt="" width="285" height="178">
                          </a>
                        {{ else }}
                          <a href="{{ .image | absURL }}" class="venobox" data-gall="sliderGallery">
                            <img class="img-responsive" loading="lazy" src="{{ $image.RelPermalink }}" alt="" width="285" height="178">
                          </a>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- slider close -->
{{ end }}
{{ end }}
