{{ if .Site.Data.homepage.gallery.enable }}
{{ with .Site.Data.homepage.gallery }}
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="title" style = "padding-bottom: 5px">
                        <h3 style="text-align:center;">{{ .title | markdownify }}</h3>
                    </div>
                    <div class="subtitle" style = "padding-top:2px; padding-bottom:10px;">
                        <h3 style="text-align:center;">{{ .subtitle | markdownify }}</h3>
                    </div>
                    <div class="gallery-slider">
                        {{ $imagePath := .imagePath }}
                        {{ range resources.Match (print $imagePath "/*.{jpg,jpeg}") }}
                            {{ $webpImage320 := (.Fill "320x178 webp q90") }}
                            {{ $webpImage480 := (.Fill "480x268 webp q90")}}
                            {{ $webpImage800 := (.Fill "800x446 webp q90") }}
                            <a href="{{ .RelPermalink }}" class="venobox" data-gall="sliderGallery">
                                <img class="img-responsive" srcset="
                                {{ $webpImage320.RelPermalink }} 320w,
                                {{ $webpImage480.RelPermalink }} 480w,
                                {{ $webpImage800.RelPermalink }} 800w"
                                sizes="(max-width: 320px) 280px,
                                       (max-width: 480px) 440px,
                                       800px"
                                src="{{ .RelPermalink }}" alt="" width="320" height="178">
                            </a>
                        {{ end }}
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- slider close -->
{{ end }}
{{ end }}
