<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {{ with .Description }} <meta name="description" content="{{ . }}"> {{ end }}
  {{ with .Author }}<meta name="author" content="{{ . }}">{{ end }}

  {{ "<!-- plugins -->" | safeHTML }}
  {{ range .Site.Params.plugins.css }}
  <link rel="stylesheet" href="{{ .URL | absURL }} ">
  {{ end }}

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ "images/favicon.ico" | absURL }} " type="image/x-icon">
  <link rel="icon" href="{{ "images/favicon.ico" | absURL }} " type="image/x-icon">
{{ template "_internal/google_analytics.html" . }}

</head>