{{ if .Site.Data.homepage.pricing.enable }}
{{ with .Site.Data.homepage.pricing }}
<section id="price">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">{{ .title | markdownify }}</h1>
                    <br>
                    {{range .description }}
                    <div class="wow fadeInUp" style="font-size: 26px; text-align:center;" data-wow-duration="300ms" data-wow-delay="400ms">{{ .text | markdownify | emojify }}</div>
                    {{ end }}

                    <div class="pricing-list">
                        <div class="title">
                            <h2 style="text-align:center">{{ .subtitle | markdownify }}</h2>
                            <br>
                            <h4 style = 'text-align:center;'>{{ .subheader | markdownify }}</h4>
                        </div>
                        <ul>
                            {{ range .pricingItem }}
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>{{.title}}</h2>
                                        <div class="border-bottom"></div>
                                        <span>{{.price}}</span>
                                    </div>
                                    <p>{{.description}}</p>
                                </div>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #price close -->
{{end}}
{{end}}